* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #2a7ae2;
    text-align: center;
}
hr {
    width: 100%;
}
#logo {
    width: 90vw;
}
h1 {
    font-size: 50px;
    word-wrap: break-word;
}
h3 {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
    font-size: 20px;
}
body {
    background-color: rgb(39, 39, 39);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    padding: 0 5vw;
    height: 100vh;
    word-wrap: break-word;
}

main, section {
    display: flex;
    flex-direction: column;
    align-items: center;
    word-wrap: break-word;
    width: 90vw;
}
section {
    margin: 2vh 0;
}

input[type="text"] {
    background-color: inherit;
    border: none;
    border-bottom: solid 2px #2a7ae2;
    outline: none;
    font-size: inherit;
    margin: 10px 0;
    padding: 5px 0;
    min-width: 200px;
    text-align: left;
}
input[type="submit"] {
    border: none;
    border-bottom: solid 2px #2a7ae2;
    padding: 5px;
    cursor: pointer;
    background: #313131;
    border-radius: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="submit"]:hover{
    background: #212121;
}

#countdown-timer {
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    margin-top: 20px;
}
.countdown-timer-bg {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}